// text styles
.text {
  &--underlined {
    text-decoration: underline;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--form {
    font-family: 'Montserrat SemiBold';
    @include adaptive-font(2.4, 1.8);
    line-height: 110%;
  }

  &--button {
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 1.4rem;
    line-height: 110%;
  }

  &--input {
    font-family: 'Montserrat Medium', sans-serif;
    font-size: 1.8rem;
    line-height: 110%;

    &-label {
      font-family: 'Montserrat Light', sans-serif;
      font-size: 1.4rem;
      line-height: 110%;
    }
  }
}
